@font-face {
    font-family: 'seaSideResort';
    src: url('/fonts/seasideresort.eot'); /* IE9 Compat Modes */
    src: url('/fonts/seasideresort.woff') format('woff'), /* Modern Browsers */
        url('/fonts/seasideresort.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BowlbyOne';
    src: url('/fonts/BowlbyOne.eot');
    src: url('/fonts/BowlbyOne.woff') format('woff'),
        url('/fonts/BowlbyOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@import 'scenes/1_start';
@import 'scenes/2_activated';
@import 'scenes/3_working';
@import 'scenes/4_done';
