body {

     &.working {

        canvas {
            -webkit-transform: scale(2);
            transform: scale(2);
            opacity: 1;
        }

        .sun {
            left: 0;
            top: 0;
            margin-left: -50px;
            margin-top: -50px;
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0;
        }

        .explosion {
            position: absolute;
            height: 100%;
            width:100%;
            background-image: url(/img/moon_pink.png);
            left: 0;
            top: 0;
            overflow: hidden;
            opacity: 0;
            -webkit-transition: all 2s ease-in-out;
            transition: all 2s ease-in-out;
            -webkit-transform: scale(1);
            transform: scale(1);

        }

        .moon {
            opacity: 0;
        }

        .moonTxt {

            .txt1 {
                position: absolute;
                font-family: 'seaSideResort', sans-serif;
                color:black;
                font-size: 40px;
                left: 50%;
                top: 38%;
                margin-left: -123px;
                margin-top: 0px;
                opacity: 1;
                -webkit-transition: all 1.4s ease-in-out;
                transition: all 1.4s ease-in-out;
            }

            .txt2 {
                position: absolute;
                font-family: 'seaSideResort', sans-serif;
                color: black;
                font-size: 90px;
                left: 50%;
                top: 44%;
                margin-left: -176px;
                margin-top: 0px;
                opacity: 1;
                -webkit-transition: all 1.4s ease-in-out;
                transition: all 1.4s ease-in-out;
            }

            &:hover {

                .enter {
                    -webkit-transition: all 2.5s ease-in-out;
                    transition: all 2.5 ease-in-out;

                    @mixin pulsate {
                        opacity: 0;
                        -webkit-animation: pulsate 2s ease-out;
                        -webkit-animation-iteration-count: 2;
                    }

                    @mixin pulsate2 {
                        opacity: 0;
                        -webkit-animation: pulsate2 2s ease-out;
                        -webkit-animation-iteration-count: 2;
                    }

                    &.one, &.two, &.three, &.four, &.five, &.six, &.seven,  {
                        @include pulsate;
                    }

                    &.eight, &.nine, &.ten, &.eleven, &.twelve, &.thirteen, &.fourteen,  {
                        @include pulsate2;
                    }

                    &.txt {
                        width: 108px;
                        height: 30px;
                        top: 50%;
                        left: 50%;
                        margin-top: -10px;
                        margin-left: -47px;
                        opacity: 0;
                        -webkit-transition: all .1s ease-in-out;
                        transition: all .1s ease-in-out;
                        -webkit-animation: pulsate3 2s ease-out;
                        -webkit-animation-iteration-count: 2;

                        &:before {
                            content: 'Welcome';
                        }
                    }
                }
            }
        }
    }
}
